/* body{
    color: blue;
    padding: 50px;
} */
/* p{
    padding: inherit;
}
div{
    color: rgb(255, 0, 0);
}
a{
    color: inherit;
}
p{
    color: #008080;
} */
.first{
    width: 320px;
    height: 30px;
    background-color: rebeccapurple;
    float: left;
}    
.second{
    width: 120px;
    height: 30px;
    background-color: blue;
    float: right;
    /* boot-s */
}
p{
    clear: both;
}

/* flutter
export PATH="$PATH:/home/abdulmoiz/Desktop/flutter_linux_1.17.5-stable/flutter/bin" */
